
#button_back {
	position: absolute;
	top: 0vh;
	left: 10vw;
	z-index: 3;
	width: 5vw;
	height: 10vh;
}
#text_search_user {
	position: absolute;
	top: 0vh;
	left: 15vw;
	z-index: 3;

	width: 20vw;
	height: 10vh;

	background-color: rgb(255, 255, 255);
	/*visibility: hidden;*/
}
#button_search_user {
	position: absolute;
	top: 0vh;
	left: 35vw;
	z-index: 6;

	width: 5vw;
	height: 10vh;
}
#search_results {
	position: absolute;
	top: 10vh;
	left: 10vw;
	z-index: 4;

	width: 30vw;
	height: 90vh;

	background-color: rgb(110, 110, 110);

	visibility: hidden;
	/*transition: visibility 2s linear;

	border-radius: 1500px;
	transition: border-radius 2s linear 0s;*/
}
/*
#search_results:hover {
	visibility: collapse;
}*/
#chat_list {
	position: absolute;
	top: 10vh;
	left: 10vw;
	z-index: 3;

	width: 30vw;
	height: 90vh;

	margin: 0;
	padding: 0;

	background-color: #AAFFA2;
	/*background-image: url(../media/images/skins/watermelon/chat_list.jpg);*/

	overflow-y: visible;
}
#chat_list div {
	position: relative;
	top: 0vh;
	left: 0vw;
	z-index: 8;

	width: 30vw;
	height: 10vh;

	border-bottom: solid 0.1vw black;

	font-size: 2vw;
	text-align: left;

	overflow: hidden;
}
#chat_list div img {
	/*
	position: relative;
	top: 0vw;
	left: 0vw;*/
	z-index: 9;
	
	width: 10vw;
	height: 10vh;

	overflow: hidden;
}/*
.chat:hover {
	background-color: rgb(255, 255, 255);
}*/
#header {
	position: absolute;
	top: 0vw;
	left: 40vw;
	z-index: 3;

	width: 60vw;
	height: 10vh;

	margin: 0;
	padding: 0;

	/*border: solid 0.1vw rgb(0, 0, 0);*/

	background-color: #FF8B8B;

	font-size: 2vw;
	text-align: left;
}
#header img {
	width: 10vw;
	height: 10vh;
}
#text_key {
	position: absolute;
	top: 10vh;
	left: 40vw;
	z-index: 3;

	width: 40vw;
	height: 5vh;

	margin: 0;
	padding: 0;

	border: solid 0.1vw rgb(0, 0, 0);

	background-color: rgb(255, 255, 255);

	text-align: left;
}
#button_e_d {
	position: absolute;
	top: 10vh;
	left: 80vw;
	z-index: 3;

	width: 20vw;
	height: 5vh;

	margin: 0;
	padding: 0;

	border: solid 0.1vw rgb(0, 0, 0);

	/*background-color: rgb(150, 150, 150);*/

	font-size: 2vw;
	text-align: left;
}
#messages_list {
	position: absolute;
	top: 15vh;
	left: 40vw;
	z-index: 3;

	width: 60vw;
	height: 75vh;

	margin: 0;
	padding: 0;

	overflow: auto;

	background-color: #F5FFA2;
	/*background-image: url(../media/images/skins/watermelon/messages_list.jpg);*/
	background-repeat: repeat;
	/*background-size: cover;*/

	font-size: 2vw;
	text-align: center;
}
.messages_sent {
	position: relative;
	top: 0vh;
	left: 30vw;
	/*right: -50vw;*/
	z-index: 4;

	width: 25vw;
	/*min-width: 5vw;*/
	height: fit-content;

	margin-bottom: 1vh;
	/*margin-left: 24vw;*/
	/*margin-right: 5vw;*/

	text-align: right;
	padding-right: 1vw;

	color: rgb(0, 0, 0);
	background-color: #9FD1FF;

	font-size: 1.5vw;
}
.messages_received {
	position: relative;
	top: 0vh;
	left: 1vw;
	z-index: 4;

	width: 25vw;
	height: fit-content;

	margin-bottom: 1vh;
	/*margin-left: 4vw;*/

	text-align: left;
	padding-left: 1vw;

	color: rgb(255, 255, 255);
	background-color: #9FD1FF;

	font-size: 1.5vw;
}
#button_check_for_new_messages {
	position: absolute;
	top: 90vh;
	left: 40vw;
	z-index: 3;

	width: 20vw;
	height: 10vh;

	word-break: break-all;

	font-size: 2vw;

	/*background-color: rgb(255, 255, 255, 0);*/
}
#text_new_message {
	position: absolute;
	top: 90vh;
	left: 60vw;
	z-index: 3;

	width: 25vw;
	height: 10vh;

	/*margin-top: 95vh;
	margin-left: 50vw;*/
	
	background-color: rgb(255, 255, 255);
}
#button_new_message {
	position: absolute;
	top: 90vh;
	left: 85vw;
	z-index: 3;

	width: 20vw;
	height: 10vh;

	font-size: 5vw;

	/*margin-top: 95vh;
	margin-left: 90vw;*/

	/*background-color: rgb(150, 150, 150);*/
	background-color: rgb(255, 255, 255, 0);
}
