.content.groups .prev > .images {
	clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
}/*
.text.add_member {
	grid-area: 1 / 5 / 3 / 6;
}
.button.add_member {
	grid-area: 1 / 6 / 3 / 7;
}*/

@media only screen and (max-width: 400px) {
}
