.text.title {
	flex-grow: 2;
}
.bar.member {   /* members, details, side */
	/*flex-grow: 2;*/
	min-width: fit-content;
	display: none;
	flex-direction: column;
	flex-wrap: wrap;
	border-left: 1px solid var(--text);
}
.bar.member .text {
	flex-grow: 2;
}
.button.add_member {
	background-image: url("../../media/images/design/add.png");
}
.list.bar.member {
	overflow-y: visible;
}
.list.member .prev {
}
