:root { /* small medium large, less normal more, small large, less more */
	--width: 60px;
	--height: 60px;
	--square: 60px;

	--border-size: 1px;

	--border-radius: 5px;

	--padding-s: 5px;
	--padding-m: 10px;
	--padding-l: 15px;

	--gap-s: 5px;
	--gap-m: 10px;
	--gap-l: 15px;

	--font-size-s: 5px;
	--font-size-m: 10px;
	--font-size-l: 15px;

	--color-border: rgb(0, 0, 0);

	--color-red: rgb(255, 60, 60);
	--color-green: rgb(60, 255, 60);

	--color-background: rgba(255, 255, 255, 0.2);

	--color-hover: rgba(150, 150, 150, 0.5);
	--color-selected: rgba(150, 150, 150);

	--blur: 5px;
}
