<div class="border-b padding flex col-gap">
    <button class='blur border square button back' onclick=<%= names %>.handle_click_back() data-tooltip='back'>back</button>
    <input class='blur border flex-grow-2 text search' type='text' placeholder='type here to search or create' oninput=<%= names %>.handle_input_search() />
    <button class='blur border square button search' onclick=<%= names %>.handle_click_search() data-tooltip='search'> search </button>
</div>
<!-- placeholder="type here to search" -->
<!-- placeholder="type search term here" -->
