<div class="border-b padding flex col-gap">
    <button class='border square button back' onclick=<%= names %>.handle_click_back() data-tooltip='back'>back</button>
    <input class='border flex-grow-2 textbox search' type='text' placeholder='type search term here' oninput=<%= names %>.handle_input_search() />
    <!-- <button class='border square button search' onclick=<%= names %>.handle_click_search() data-tooltip='search'> search </button> -->
    <button class='border square button create-menu' onclick=<%= names %>.handle_click_create_menu() data-tooltip='create'> create </button>
</div>
<!-- placeholder="type here to search" -->
<!-- placeholder="type search term here" -->
