* {
	font-size: 2vw;
	font-weight: 30;
}
#container {
	position: absolute;
	left: 0;
	top: 0;

	width: 100vw;
	height: 100vh;

	overflow: visible;
	
	background-image: url(media/images/pf3.jpg);
	background-repeat: no-repeat;
	background-size: 100vw 100vh;

	display: grid;

	/*padding-top: 10vh;
	padding-left: 20vw;
	padding-right: 20vw;*/
}
form {
	display: grid;

	/*margin-top: 10vh;
	margin-left: 10vw;

	padding-top: 1vh;
	padding-left: 1vw;*/

	background-color: rgb(46, 137, 255);
	color: rgb(0, 0, 0);
}
