* {
	font-family: 'Courier New', Courier, monospace;
	font-size: 1.5vw;
	font-weight: 800;
	color: black;

	overflow: hidden;
}
#container {
	position: absolute;
	left: 0;
	top: 0;

	width: 100vw;
	height: 100vh;
	
	background-image: url(media/images/pf3.jpg);
	background-repeat: no-repeat;
	background-size: 100vw 100vh;

	display: grid;
	grid-template-columns: auto auto;
	gap: 60vw;

	/*grid-column: 20vmax;
	grid-auto-columns: 20vw;*/
	/*grid-row: 10vw 10vw;
	grid-column: 10vh 10vh;*/

	align-content: center;
    justify-content: center;

    align-items: center;
    justify-items: start;

	/*padding-top: 10vh;
	padding-left: 20vw;
	padding-right: 20vw;*/
}
form {
	display: grid;

	/*grid-row: auto;
	grid-auto-rows: max-content;*/

	/*width: 30vw;
	height: 50vh;*/

	/*margin-top: 10vh;
	margin-left: 10vw;

	padding-top: 1vh;
	padding-left: 1vw;*/

	background-color: rgb(106, 73, 255);
}
#r {
	display: grid;
	
	/*position: absolute;
	left: 0vw;
	top: 50vh;

	width: max-content;
	height: auto;*/

	background-color: rgb(175, 175, 175);
}
