* {
	overflow: hidden;

	/*font-family: 'Courier New', Courier, monospace;*/
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 1vw;
	font-weight: 700;
}
/*
body {*/
	/*background-image: linear-gradient(to bottom,rgb(40, 90, 50),rgb(200, 200, 35));*/
	/*background-color: rgb(25, 25, 25);*/
/*	background-size: 100vw 100vh;
	overflow: hidden;

	margin: 0;
	padding: 0;

	/*display: flexbox;
	display: grid;*//*
}*/
#menu_bar {
	position: absolute;
	top: 0vh;
	left: 0vw;
	z-index: 2;

	width: 100vw;
	height: 6vh;

	background-color: rgb(10, 80, 7);
	background-image: url(media/images/s5.jpg);
	background-size: auto;

	display: flex;
}
.menu {
	/*
	display: flex;
	flex-direction: row;*/

	position: relative;
	z-index: 3;

	width: fit-content;
	height: 4vh;

	margin: 1vh;
	/*margin-left: 1.5vw;*/

	padding-left: 1vw;
	padding-right: 1vw;

	font-size: 1.6vw;
	/*color: rgb(255, 255, 255);*/
	/*text-align: center;*/

	/*border-top: 1px solid rgba(0, 0, 0, 0.4);
	border-left: 1px solid rgba(0, 0, 0, 0.4);*/
}
.menu:hover {
	box-shadow: 0px 0px 40px rgba(0, 0, 0, 1);
}
#button_theme {
	position: absolute;
	right: 0vw;
}
#side_bar {
	position: absolute;
	top: 6vh;
	left: 10vw;
	z-index: 2;

	width: 30vw;
	height: 94vh;

	background-color: rgb(255, 254, 170);

	font-size: 2vw;
}
#content {
	position: absolute;
	top: 6vh;
	left: 40vw;
	z-index: 2;

	width: 60vw;
	height: 94vh;

	background-color: rgb(199, 11, 36);
}
#pp {
	position: absolute;
	left: 10vw;

	width: 10vw;
	height: 10vw;

	border-radius: 500px;
}
#ButtonBack {
	position: absolute;
	top: 0vh;
	left: 0vw;
	z-index: 3;

	width: 5vw;
	height: 10vh;

	background-color: rgb(150, 150, 150);
}
#TextSearchUser {
	position: absolute;
	top: 0vh;
	left: 5vw;
	z-index: 3;

	width: 20vw;
	height: 10vh;

	background-color: rgb(255, 255, 255);
	/*visibility: hidden;*/
}
#ButtonSearchUser {
	position: absolute;
	top: 0vh;
	left: 25vw;
	z-index: 3;

	width: 5vw;
	height: 10vh;

	background-color: rgb(150, 150, 150);
}
#SearchResults {
	position: absolute;
	top: 10vh;
	left: 0vw;
	z-index: 4;

	width: 30vw;
	height: 90vh;

	margin: 0;
	padding: 0;

	background-color: rgb(255, 252, 98);

	visibility: hidden;
	/*transition: visibility 2s linear;

	border-radius: 1500px;
	transition: border-radius 2s linear 0s;*/
}
/*
#SearchResults:hover {
	visibility: collapse;
}*/
#ChatList {
	position: absolute;
	top: 10vh;
	left: 0vw;
	z-index: 3;

	width: 30vw;
	height: 80vh;

	margin: 0;
	padding: 0;

	background-color: rgb(255, 254, 170);

	overflow-y: visible;
}
.chat {
	position: relative;
	top: 0vh;
	left: 0vw;
	z-index: 4;

	width: 30vw;
	height: 10vh;

	border-bottom: solid 0.1vw black;

	font-size: 2vw;
	text-align: left;
}
.chat img {
	/*
	position: relative;
	top: 0vw;
	left: 0vw;
	z-index: 4;
	*/
	width: 10vw;
	height: 10vh;

	overflow: hidden;
}
.chat:hover {
	background-color: rgb(255, 252, 98);
}
#chatting_with_header {
	position: absolute;
	top: 0vw;
	left: 0vw;
	z-index: 3;

	width: 60vw;
	height: 10vh;

	margin: 0;
	padding: 0;

	/*border: solid 0.1vw rgb(0, 0, 0);*/

	background-color: rgb(199, 11, 36);

	font-size: 2vw;
	text-align: left;
}
#TextKey {
	position: absolute;
	top: 5vw;
	left: 0vw;
	z-index: 3;

	width: 40vw;
	height: 5vh;

	margin: 0;
	padding: 0;

	border: solid 0.1vw rgb(0, 0, 0);

	background-color: rgb(255, 255, 255);

	text-align: left;
}
#ButtonED {
	position: absolute;
	top: 10vh;
	left: 40vw;
	z-index: 3;

	width: 20vw;
	height: 5vh;

	margin: 0;
	padding: 0;

	border: solid 0.1vw rgb(0, 0, 0);

	background-color: rgb(150, 150, 150);

	font-size: 2vw;
	text-align: left;
}
#MessagesList {
	position: absolute;
	top: 15vh;
	left: 0vw;
	z-index: 3;

	width: 60vw;
	height: 69vh;

	margin: 0;
	padding: 0;

	overflow: auto;

	background-color: rgb(90, 90, 90);
	background-image: url(media/images/pulp2.jpeg);
	background-repeat: repeat;
	/*background-size: cover;*/

	font-size: 2vw;
	text-align: center;
}
.MessagesSent {
	position: relative;
	top: 0vh;
	left: 30vw;
	/*right: 2vw;*/
	z-index: 4;

	width: 25vw;
	/*min-width: 5vw;*/
	height: fit-content;

	margin-bottom: 1vh;
	/*margin-left: 24vw;*/
	/*margin-right: 5vw;*/

	text-align: right;
	padding-right: 1vw;

	color: rgb(0, 0, 0);
	background-color: rgb(255, 255, 179);

	font-size: 1.5vw;
}
.MessagesReceived {
	position: relative;
	top: 0vh;
	left: 1vw;
	z-index: 4;

	width: 25vw;
	height: fit-content;

	margin-bottom: 1vh;
	/*margin-left: 4vw;*/

	text-align: left;
	padding-left: 1vw;

	color: rgb(255, 255, 255);
	background-color: rgb(27, 3, 3);

	font-size: 1.5vw;
}
#ButtonCheckForNewMessages {
	position: absolute;
	top: 84vh;
	left: 0vw;
	z-index: 3;

	width: 20vw;
	height: 10vh;

	word-break: break-all;

	background-color: rgb(150, 150, 150);
}
#TextNewMessage {
	position: absolute;
	top: 84vh;
	left: 20vw;
	z-index: 3;

	width: 25vw;
	height: 10vh;

	/*margin-top: 95vh;
	margin-left: 50vw;*/
	
	background-color: rgb(255, 255, 255);
}
#ButtonNewMessage {
	position: absolute;
	top: 84vh;
	left: 45vw;
	z-index: 3;

	width: 20vw;
	height: 10vh;

	/*margin-top: 95vh;
	margin-left: 90vw;*/

	background-color: rgb(150, 150, 150);
}
