* {
	font-size: 1.5vw;
	font-weight: 30;
}
body {
	overflow: hidden;
	background-image: url(media/images/pf3.jpg);
	background-repeat: no-repeat;
	background-color: rgb(0, 0, 0);
	background-size: 100vw 100vh;

	/*padding-top: 10vh;
	padding-left: 20vw;
	padding-right: 20vw;*/
}
form {
	position: absolute;
	top: 0vh;
	/*left: 40vw;*/

	width: 20vw;
	height: 40vh;

	margin-top: 10vh;
	/*margin-left: 10vw;*/

	padding-top: 1vh;
	padding-left: 1vw;

	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);

	font-family: 'Orbitron', serif;
	font-size: 1.2vw;
}
body form:nth-of-type(1) {
	left: 20vw;
}
body form:nth-of-type(2) {
	left: 50vw;
}
/*
#f1 {
	top: -100vh;
	left: 15vw;
	animation: a1 2s linear 1 alternate-reverse;
}
#f2 {
	top: 100vh;
	left: 15vw;
	animation: a2 2s linear 1;
}
@keyframes a1 {
	from {top:-100vh;}
	to {top:20vh;}
}
@keyframes a2 {
	from {top:100vh;}
	to {top:20vh;}
}
*/
.textbox {
	width: 18vw;
	height: 3vh;

	/*margin-left: 1vw;*/
}
.submit {
	width: 10vw;
	height: 6vh;

	margin-top: 3vh;
	margin-left: 5vw;
}
