.banner.date {
	position: sticky;
	top: 10px;
	width: 100px;
	z-index: 5;
	/* margin-right: auto; */
	/* margin-left: auto; */
	margin: auto;
	/* justify-self: center; */
}
.list.media {   /* also can be called conv since item of conv list */
	/* have to write grid-area otherwise when above elements is set to display none this will go up */
	/* display: grid; */
	grid-area: 2 / 1 / 3 / 2;
	grid-auto-rows: max-content;
	/* grid-template-rows: auto; */
	/* align-items: flex-end; */
	/* align-content: flex-end; */

	/*flex-grow: 2;*/
	/*max-width: 300px;*/
	/*position: relative;*/
	/*margin-left: auto;*/
	/*margin-right: auto;*/
	/*width: 100%;
	height: 100%;*/
	/*height: auto;*/
	overflow-y: visible;
}
.list.media::-webkit-scrollbar-button {
	border-radius: 5px;
	background-color: aqua;
}
.sender_specifier, .time {
	color: rgb(78, 78, 78);
}
.sender_specifier {
	/* align-items: center; */
	/* position: relative; */
	/* width: 100%; */
	/* height: 30px; */
	font-size: 1rem;
}
.time {
	font-size: 0.7rem;
	/*margin-left: auto;*/
	/* margin-top: 5px; */
}
.list.media {
	grid-area: 2 / 1 / 3 / 1;
	/* align-items: flex-end; */
	/* align-content: flex-end; */
	/* position: relative; */
}
.item-media {
	position: relative;
	min-width: 100px;
	max-width: 600px;
	/* min-width: 10%; */
	/* max-width: 70%; */
	width: fit-content;
	/*min-height: 5%;*/	
	height: fit-content;

	/* margin-bottom: 10px; */

	box-shadow: 5px 5px 5px 0px rgb(0, 0, 0, 0.5);
}
.list.media :first-child {
	/* margin-top: auto; */
	/* justify-self: flex-end; */
}
.received {
	/*left: 0;*/
	/*float: left;*/
	justify-content: left; /* x */
	justify-self: left;

	background-color: var(--media-received-bg);
	color: var(--media-received-text);
}
.sent {
	/*left: auto;*/
	/*right: 0;*/
	/*float: right;*/
	/* margin-left: auto; */
	justify-self: right;
	/* justify-content: right; */
	/* justify-items: right; */

	background-color: var(--media-sent-bg);
	color: var(--media-sent-text);
}
.sent .sender_specifier {
	justify-content: flex-end;
}
.message {	
	/*position: relative;*/
	/*height: fit-content;*/
	/*height: 20vh;*/

	/*margin-bottom: 1vh;*/
	/*margin-left: 24vw;*/
	/*margin-right: 5vw;*/

	/*text-align: right;*/
	/*padding-right: 1vw;*/
}
.list.media .image, .list.media .video {
	width: 200px;
	/* height: 200px; */
}
.list.media .audio, .list.media .document, .list.media .location {
	width: 400px;
}
.list.media .document .button {
	background-color: #ffffff;
}
.sent .message {
	/* text-align: right; */
	/*padding-right: 1vw;*/
}
.received .message {
	text-align: left;
	/*padding-left: 1vw;*/
}
.sent .message .sender_specifier {
	border-bottom: 1px solid white;
}
.sent .sender_specifier {
	/* justify-content: flex-end; */
}
.sent .time {
	justify-content: flex-end;
	/* place-content: flex-end; */
}
