.bar.menu {
	padding: var(--padding-m);
	display: flex;
	flex-direction: column;
	row-gap: var(--gap-m);
	overflow-y: auto;
	border-right: var(--border-size) solid var(--color-border);

	/*width: auto;*/
	min-width: fit-content;
	height: 100vh;
	background-color: var(--color-mb);
}
.bar.menu > button {
	/* width: 100%; */
	min-width: 100px;
}/*
.bar.menu :hover {
	background-color: var(--item-bg);
	box-shadow: 0px 0px 5px 1px rgba(0, 0, 0);
}*/
.bar.menu :nth-child(1) {
	/*animation-play-state: paused;
	animation-name: call-indicator;*/
	animation-duration: 2s;
	animation-timing-function: ease-in-out;
	animation-delay: 0s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
}
.bar.menu :nth-child(5) {
	margin-top: auto;
}

@keyframes call-indicator {
	0% {
		background-color: lightgreen;
	}
	100% {
		background-color: darkgreen;
	}
}
/*
.button::before {
	content: '';
	display: flex;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	color: transparent;
	background-image: linear-gradient(-45deg, #eceff1 30%, #a3a3a3 50%, #eceff1 70%);
	background-size: 400%;
	animation: loading 500ms ease-in-out 0ms 3;
}
@keyframes loading {
	0% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
*/
@media only screen and (max-width: 400px) { /* 1152 px = 12 inch */
}
