/* accepted declined rejected missed   //   accept decline reject */
.prev .called_by {
	margin-left: auto;
	background-size: auto auto;
	background-position: center;
	background-repeat: no-repeat;
}
.call_outgoing {
	background-image: url('../../media/images/icons/call_made.png');
}
.call_incoming {
	background-image: url('../../media/images/icons/call_received.png');
}
.button.call.audio {
	background-image: url('../../media/images/icons/call.png');
}
.button.call.video {
	background-image: url('../../media/images/design/call_video.png');
}
.list.conv.calls {
	display: flex;
	flex-wrap: wrap;
	overflow-y: visible;
}
.item_media_calls_audio {
	flex-direction: row;
	flex-wrap: wrap;
}
.item_media_calls_video {
	flex-direction: column;
	min-width: 200px;
	width: 45%;
	height: 200px;
}
.item_media_calls_audio > audio {
	visibility: hidden;
	/*display: none;*/
}
.item_media_calls_video > video {   /* container_video //item_media_calls video */
	/*width: fit-content;*/
	/*width: 100%;*/
	/*max-width: 20vw;*/
	/*height: auto;*/
	/*height: fit-content;*/

	/*transform: rotateY(180deg);*/ /* both transforms work */
	transform: scale(-1, 1);
}
.local.item_media_calls_audio {
	display: none;
}
.audio.local {
	/*visibility: hidden;*/
	display: none;
}
/*
.video.remote {
	display: grid;
}*/
/*
.controller {   controller
	grid-area: 19 / 1 / 21 / 13;
	display: grid;
	grid-template-rows: repeat(2, 1fr);
	grid-template-columns: repeat(12, 1fr);
}*//*
.button.call_toggle_speaker {
	grid-area: 1 / 1 / 3 / 2;
	background-image: url("../../media/images/design/volume_off.png");
}*/
.calls.send_new_media {
	display: none;
}
.button.call_toggle_mic {
	background-image: url("../../media/images/design/mic_off.png");
}
.button.call_toggle_video {
	background-image: url("../../media/images/design/video_camera_off.png");
}
.content.calls .button.call_end {
	background-image: url("../../media/images/design/call_end.png");
}
.button.call_canvas {
	background-image: url("../../media/images/design/brush.png");
}
.list.incoming_call {
	position: absolute;
	left: 12vw;
	top: 2vh;
	z-index: 50;
	min-height: fit-content;
	display: none;
	flex-direction: row;
}
.list.incoming_call > div {
	min-width: 300px;
}
.button.call_accept {
	background-image: url("../../media/images/design/call_audio.png");
	margin-left: auto;
}
.button.call_decline {
	background-image: url("../../media/images/design/call_end.png");
}

@media only screen and (max-width: 400px) {
}
