* {
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.game_container {
	position: relative;
	left: 0;
	top: 0;
	z-index: 1;
	width: 90vw;
	height: 100vh;

	background-color: lightgray;
	border: solid 1px #000000;
}/*
.game_container span,.bar {
	width: 10vw;
}*/
.game_container span {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
	width: 10vw;
	height: 100vh;

	background-color: #000000;
}
.game_container span:nth-child(1) {
	left: 0;
}
.game_container span:nth-child(1) {
	left: 80vw;
}
.bar {
	position: absolute;
	top: 20vh;
	z-index: 3;
	width: 10vw;
	height: 20vh;

	color: #000000;
}
#bar1 {
	left: 0;
	background-color:#ffff00;
}
#bar2 {
	left: 80vw;
	background-color:#00ffff;
}
#ball {
	position: absolute;
	left: 20vw;
	top: 0;
	z-index: 3;
	width: 10vw;
	height: 10vw;

	background-color: hotpink;
	border-radius: 10vw;
}
.game_result {
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 10;

	background-color: gray;
	opacity: 0.0;
	text-align: center;
	font-size: xx-large;
}