:root {   /* same as defining all properties to the container tag ??? */
	--bg: rgb(173, 239, 209);
	--bg-mb: rgb(30, 240, 170);
	--bg-eb: rgb(130, 240, 190);
	--bg-cb: rgb(180, 240, 210);

	--text: #00203FFF;

	--item-hover-bg: rgb(190, 190, 190);
	--item-hover-text: black;

	--item-selected-bg: rgb(190, 190, 190); /*#000000*/
	--item-selected-text: black;

	--text-box-bg: #ffffff;
    --text-box-text: #000000;

	/*
	--bgcolor2: #808080;
	--textcolor2: #00ff99;

	--bgcolor3: #808080;
	--textcolor3: #00ffff;

    --bgcolor4: #101820FF;
	--textcolor4: #F2AA4CFF;

	--bgcolor5: #F96167;
	--textcolor5: #FCE77D;

	--bgcolor6: #CCF381;
	--textcolor6: #4831D4;
	*/
}
