.button.unblock {
    background-image: url('../../media/images/design/person_add.png');
}
.chats .bar.info {
    grid-auto-rows: max-content;
    place-content: space-between;
    /* justify-content: space-between; */
}
.chats .delete_exit_leave {
    /* position: absolute; */
    /* top: auto; */
    /* bottom: 0; */
    /* margin-top: auto; */
    /* align-self: flex-end; */
    margin-top: 10px;
}
