.list.content {
	width: 100%;
	/*min-height: fit-content;*/
	height: 100vh;
	/* height: 100%; */
	/*flex-wrap: nowrap;*/
	flex-grow: 2;
}
.item.content {
	width: 100%;
	height: 100%;
}
.images img {
	width: 100%;
	height: 100%;
	/*
	contain: ;
	content: ;
	*/
}
.image img {
	width: 100%;
	height: 100%;
}
div.conv_name, div.title {
	width: max-content;
}
div.conv_name { /* name trio_name conv_name */
	font-size: 18px;
	color: rgb(206, 206, 206);
}/*
.name:hover {
	color: white;
}*/
.profile-picture {
	/* width: 200px; */
	/* height: 200px; */
}
.icon {
	/* width: 200px; */
	/* height: 200px; */
}/*
.chats .images.profile {
	border-radius: 100%;
}*/
.icon-users {
	border-radius: 100%;
	/* border-top-left-radius: 50%; */
	/* border-top-right-radius: 50%; */
	/* border-bottom-left-radius: 50%; */
	/* border-bottom-right-radius: 50%; */
}
.icon-groups {
}
.icon-channels {
	clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%, 50% 0%);
	/* transform: scale(1.5); it doesn't take into account other elements around it */
	/* width: 100px; */
	/* min-width: 100px; */
	/* max-width: 100px; */
	/* border-radius: 50px; */
}
.update_controls {
}
.button.edit {
	background-image: url('../../media/images/icons/edit.png');
	min-width: 100%;
}
.button.submit {
	background-image: url('../../media/images/icons/done.png');
	min-width: 48%;
}
.button.cancel {
	background-image: url('../../media/images/icons/close.png');
	min-width: 48%;
}
.button.exit {
	min-width: 100%;
}
.button.leave {
	background-image: url('../../media/images/design/leave.png');
}
.button.delete {
	background-image: url('../../media/images/design/delete.png');
}

@media only screen and (max-width: 400px) { /* 1152 px = 12 inch */
}
