* {
	overflow: hidden;
	box-sizing: border-box; /* includes border and padding in width and height */
	/* margin: 0; */
	/* padding: 0; */
}
html {
	/* scroll-behavior: smooth; */
}
body {
	margin: 0;
	height: 100%;
}
.app, .textbox, .button, label {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.app {
	/* width: 100vw; */   /* 100vw 100% 1fr */
	
	/* height: 100%; */
	/* height: 100vh; */
	/* height: 100dvh; */
	height: 100svh;
	min-height: 100svh;
	max-height: 100svh;
	z-index: 1;
	overflow: hidden;
	font-size: 20px;   /* 1.5rem */
}
.container {
	width: 100%;
	height: 100%;
}
@media only screen and (max-width: 400px) {
}
@media (orientation: portrait) {
}
