<div class="bar explore">
	<div class="list previous">
		<div class="prev" onclick="account.handle_click_prev(0)"> data </div>
		<div class="prev" onclick="account.handle_click_prev(1)"> privacy </div>
		<div class="prev" onclick="account.handle_click_prev(2)"> theme </div>
	</div>
</div>
<div class='bar conversation'>
	<div class="conv">
		<% let src = ((data.extension == null) ? 'media/images/place_holder/user.png' : `data/icons/users/${data.user_id}.${data.extension}`); %>
		<img class="image pp" src='<%= src %>' width="200" height="200" />
		<input class='file pp' type='file' name="file_pp">
		<!--<div class='button pp' onclick='account.upload_profile_picture()'> upload </div>-->

		<input class='' type='text' name="user_name" />
		<input class='' type='text' name="first_name" />
		<input class='' type='text' name="last_name" />
		<input class='' type='text' name="e_mail" />
		<input class='' type='text' name="mobile" />

		<input class='edit' type='button' />
		<input class='submit' type='button' onclick="calls.update_user_info()" />
	</div>
	<div class="conv">
	</div>
	<div class="conv">
		<div class='button' id='button_theme' onclick='toggle_theme(this)'> change theme </div>
	</div>
</div>
