<!--<div class="content chats">-->
	<div class="bar explore bg-eb">
		<%- include ('partials/search_elements', {names: 'chats'}) %>

		<div class="list previous border-top"></div>
	</div>
	<div class='bar conversation bg-cb'>
		<div class='flex wrapper current_header'>
			<div class='flex details'>
				<div class="border square images"><img src="" /></div>
				<div></div>
			</div>
			<div class='button square border call audio' onclick="chats.handle_click_call('audio')"> audio call </div>
			<div class='button square border call video' onclick='chats.handle_click_call("video")'> video call </div>
			<input class='border text key' type='text' placeholder='enter key of this conversation' value='0' oninput='chats.handle_input_text_key()'>
			<div class='button border square key' onclick='chats.toggle_en_de_crypt_messages()'> encrypt </div>
			<!--<input class='text search_conversation' type='text' placeholder='search conversation' oninput='chats.search_conversation()'>-->
			<div class='button square border red delete_exit_leave' onclick='chats.leave()'> delete </div>
		</div>

		<div class="border-top border-bottom list conv"></div>

		<!--<input type='file' name='select_images' class='select_images' accept='.jpg, .jpeg, .png'>-->

		<%- include ('partials/send_new_media', {names: 'chats'}) %>
	</div>
<!--</div>-->
