<!--<div class="content groups">-->
	<div class="bar explore bg-eb">
		<%- include ('partials/search_elements', {names: 'groups'}) %>

		<div class="list previous border-top"></div>
	</div>
	<div class='bar conversation bg-cb'>
		<div class='flex wrapper current_header'>
			<div class='flex details' onclick="groups.handle_click_details()">
				<div class="border square images"><img src="" /></div>
				<div></div>
			</div>
			<!--
			<input type="text" class='text add_member' />
			<div class='button add_member' onclick='groups.handle_click_add_member()'> add member </div>
			-->
			<div class='button border square call audio' onclick='groups.handle_click_call("audio")'> audio call </div>
			<div class='button border square call video' onclick='groups.handle_click_call("video")'> video call </div>
			<input class='border text key' type='text' placeholder='enter key of this conversation' value='0' oninput='groups.handle_input_decrypt_messages()' />
			<div class='button border square key' onclick='groups.toggle_en_de_crypt_messages()'> encrypt </div>
			<!--<input class='text search_conversation' type='text' placeholder='search conversation' oninput='groups.search_conversation()' />-->
			<div class='button border square red delete_exit_leave' onclick='groups.handle_click_leave()'> leave </div>
		</div>
		
		<div class="border-top border-bottom list conv"></div>
		
		<%- include ('partials/send_new_media', {names: 'groups'}) %>
	</div>
	<div class="bg-cb bar member">
		<div class="flex wrapper">
			<input class='border text add_member' type="text" placeholder='enter user name to add' />
			<div class='flex button border square green add_member' onclick='groups.handle_click_add_member()'> add member </div>
		</div>
		<div class='border-top list member'></div>
	</div>
<!--</div>-->
