<div class='button back' onclick=<%= names %>.handle_click_button_back()> back </div>
<input type='text' class='text search' placeholder='type here to search' oninput=<%= names %>.handle_input_text_search()>
<div class='button search' onclick=<%= names %>.handle_click_button_search()> search </div>
<div class="list search"></div>
