<div class="flex wrapper">
    <div class='border square button back' onclick=<%= names %>.handle_click_button_back()> back </div>
    <input class='border text search' type='text' placeholder='type here to search' oninput=<%= names %>.handle_input_text_search() />
    <div class='border square button search' onclick=<%= names %>.handle_click_button_search()> search </div>
</div>
<div class="border-top list search bg-eb"></div>
