<div class="padding grid row-gap center-x container auth">
	<div class="border padding grid center-x app-title">online chatting application</div>
	<div class="list-card">
		<div class="hidden border padding flex col-gap center card sign_up" id="sign_up"></div>
		<div class="hidden border padding flex col-gap center card log_in" id="log_in"></div>
	</div>

	<!-- <div class="background-design">
		<div class="design design-circle design-circle-1"></div>
		<div class="design design-circle design-circle-2"></div>
		<div class="design design-circle design-circle-3"></div>
		<div class="design design-circle design-circle-4"></div>
		<div class="design design-circle design-circle-5"></div>

		<div class="design design-triangle design-triangle-1"></div>
		<div class="design design-triangle design-triangle-2"></div>
		<div class="design design-triangle design-triangle-3"></div>
		<div class="design design-triangle design-triangle-4"></div>
		<div class="design design-triangle design-triangle-5"></div>

		<div class="design design-rectangle design-rectangle-1"></div>
		<div class="design design-rectangle design-rectangle-2"></div>
		<div class="design design-rectangle design-rectangle-3"></div>
		<div class="design design-rectangle design-rectangle-4"></div>
		<div class="design design-rectangle design-rectangle-5"></div>

		<div class="design design-square design-square-1"></div>
		<div class="design design-square design-square-2"></div>
		<div class="design design-square design-square-3"></div>
		<div class="design design-square design-square-4"></div>
		<div class="design design-square design-square-5"></div>
	</div>-->

	<!-- <script type="module" src="/modules/auth/auth.js"></script> -->
</div>
