<!-- <> -->
	<div class="border padding grid center">
		<div>Don't hava an account ?</div>
		<button class="grid center link" type="button" onclick="login.handle_click_link()"> sign up >>>>> </button>
	</div>
	<div class="border padding grid row-gap">
		<div class="height border padding grid center form-name">log in</div>
		<label for="LIUN">user name :</label>
		<input class="width-100 height border textbox" id="LIUN" type="text" oninput=login.handle_change_user_name(this)>
		
		<label for="LIPW">pass word :</label>
		<input class="width-100 height border textbox" id="LIPW" type="text" oninput=login.handle_change_pass_word(this)>

		<button class="width-100 height border padding grid center button login" id="buttonLogIn" onclick="login.handle_click_submit()" data-tooltip="login">log in</button>
	</div>
	<div class="border padding grid row-gap">
		<div class="border padding grid row-gap validation">
			<div class="border-radius padding bg-red">username must be filled</div>
			<div class="border-radius padding bg-red">username must be registered</div>
		</div>
		<div class="border padding grid row-gap validation">
			<div class="border-radius padding bg-red">password must be filled</div>
			<div class="border-radius padding bg-red">password must be correct</div>
		</div>
	</div>
<!-- </> -->
