.send_new_media {
	position: absolute;
	left: 40vw;
	top: 90vh;
	z-index: 6;
	width: 60vw;
	height: 10vh;

	display: flex;

	background-color: #ffa860;
}
.send_new_media div {
	background-color: rgb(255, 255, 255, 0);
}
.sending {
	position: absolute;
	left: 45vw;
	top: 45vh;
	z-index: 7;
	width: 50vw;
	height: 40vh;

	background-color: rgb(216, 124, 255);

	visibility: hidden;
}
.button.close_sending {
	position: absolute;
	left: -1vw;
	top: -2vh;
	z-index: 8;
	width: 5vw;
	height: 5vw;

	font-size: 3vw;

	background-color: rgb(255, 255, 255, 0);

	border: 0vw;

	display: flex;
	justify-content: center;
	align-items: center;

	transform-origin: 50% 50%;
	transform: rotate(45deg);
}
.sending input {
	position: relative;
	left: 0vw;
	top: 33vh;
	z-index: 8;
	width: 45vw;
}
.button.send {
	position: absolute;
	left: 45vw;
	top: 33vh;
	z-index: 8;
	width: 5vw;
	height: 10vh;
}
.upload {
	position: relative;
	top: 0vh;
	left: 0vw;
	z-index: 7;

	width: 5vw;
	height: 10vh;

	font-size: 1vw;

	word-break: break-all;

	background-color: rgb(255, 255, 255, 0);

	/*display: flex;*/
}/*
.upload input {
	height: 10vh;
	background-color: black;
}*/
.text.message {
	position: relative;
	top: 0vh;
	left: 0vw;
	z-index: 7;

	width: 30vw;
	height: 10vh;

	/*margin-top: 95vh;
	margin-left: 50vw;*/
	
	background-color: rgb(255, 255, 255);

	/*display: flex;*/
}
.button.message {
	position: absolute;
	left: 55vw;
	top: 0vh;
	z-index: 7;
	width: 5vw;
	height: 10vh;

	font-size: 2vw;

	/*margin-top: 95vh;
	margin-left: 90vw;*/

	/*background-color: rgb(150, 150, 150);*/
	/*background-color: rgb(255, 255, 255, 0);*/

	/*display: flex;*/
}
