.button.back {
	position: absolute;
	top: 0vh;
	left: 0vw;
	z-index: 6;
	width: 5vw;
	height: 10vh;

	background-color: #AAFFA2;
}
.text.search {
	position: absolute;
	top: 0vh;
	left: 5vw;
	z-index: 6;
	width: 20vw;
	height: 10vh;

	/*background-color: rgb(255, 255, 255);*/
	background-color: #AAFFA2;
	/*visibility: hidden;*/
}
.button.search {
	position: absolute;
	top: 0vh;
	left: 25vw;
	z-index: 10;
	width: 5vw;
	height: 10vh;

	/*background-color: #AAFFA2;*/
	background-image: url('../../media/images/design/search.png');
	background-size: 5vw 10vh;
}
.search_results {
	position: absolute;
	top: 10vh;
	left: 0vw;
	z-index: 7;
	width: 30vw;
	height: 90vh;

	background-color: rgb(180, 180, 180);

	visibility: hidden;
	/*transition: visibility 2s linear;

	border-radius: 1500px;
	transition: border-radius 2s linear 0s;*/
}
.search_results div {
	z-index: 8;
	height: 10vh;
	border-bottom: 0.2vw solid black;
}
.search_results div img {
	/*
	position: relative;
	top: 0vw;
	left: 0vw;*/
	z-index: 9;
	width: 10vw;
	height: 10vh;

	overflow: hidden;
}
/*
#search_results:hover {
	visibility: collapse;
}*/
.previous_list {
	position: absolute;
	top: 10vh;
	left: 0vw;
	z-index: 6;
	width: 30vw;
	height: 90vh;

	margin: 0;
	padding: 0;

	background-color: #AAFFA2;
	/*background-image: url(../media/images/skins/watermelon/chat_list.jpg);*/

	overflow-y: visible;
}
.previous_list div {
	position: relative;
	top: 0vh;
	left: 0vw;
	z-index: 7;
	width: 30vw;
	height: 10vh;

	border-bottom: solid 0.2vw black;

	font-size: 2vw;
	text-align: left;

	overflow: hidden;

	text-indent: 10vw;
}
.previous_list div img {
	position: absolute;
	top: 0vw;
	left: 0vw;
	z-index: 8;
	width: 10vw;
	height: 10vh;

	overflow: hidden;
}
.new_media_indicator { /*.previous_list div div*/
	position: absolute;
	left: 20vw;
	top: 2vh;
	width: 6vw;
	height: 6vh;
	border-radius: 10vw;
}
.previous_list div:hover {
	background-color: rgb(187, 187, 187);
}
.current_header {
	position: absolute;
	top: 0vw;
	left: 30vw;
	z-index: 6;
	width: 60vw;
	height: 10vh;

	margin: 0;
	padding: 0;

	/*border: solid 0.1vw rgb(0, 0, 0);*/
	background-color: #FF8B8B;

	font-size: 2vw;
	text-indent: 10vw;

	/*display: flex;
	justify-content: center;
	justify-items: center;*/
}
.current_header img {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 7;
	width: 10vw;
	height: 10vh;
}
.search_current_conversation {
	position: absolute;
	top: 0vh;
	left: 30vw;
	z-index: 7;
	width: 10vw;
	height: 10vh;

	background-color: rgb(255, 255, 255, 0);
}
.text.key {
	position: absolute;
	top: 0vh;
	left: 40vw;
	z-index: 7;

	width: 10vw;
	height: 10vh;

	margin: 0;
	padding: 0;

	border: solid 0.1vw rgb(0, 0, 0);

	background-color: rgb(255, 255, 255, 0);

	text-align: left;
}
.button.key {
	position: absolute;
	top: 0vh;
	left: 50vw;
	z-index: 7;

	width: 10vw;
	height: 10vh;

	margin: 0;
	padding: 0;

	border: solid 0.1vw rgb(0, 0, 0);

	/*background-color: rgb(150, 150, 150);*/

	font-size: 1.5vw;
	text-align: right;
}
.conversation {
	position: absolute;
	top: 10vh;
	left: 30vw;
	z-index: 6;
	width: 60vw;
	height: 80vh;

	margin: 0;
	padding: 0;

	overflow-x: hidden;
	overflow-y: auto;

	background-color: #F5FFA2;
	/*background-image: url(../media/images/skins/watermelon/messages_list.jpg);
	background-repeat: repeat;
	background-size: cover;*/

	visibility: hidden;

	font-size: 2vw;
	text-align: center;

	object-fit: cover;
	/*display: flex;*/
}
.conversation > * {   /*#messages_list * {*/   /*.media {*/
	position: relative;
	top: 1vh;
	z-index: 7;
}
.received {
	left: 1vw;
}
.sent {
	left: 30vw;
	/*right: 1vw;
	margin-right: 1vw;*/
}
.messages {
	min-width: 5vw;
	width: fit-content;
	height: fit-content;

	/*margin-bottom: 1vh;*/
	/*margin-left: 24vw;*/
	/*margin-right: 5vw;*/

	/*text-align: right;*/
	/*padding-right: 1vw;*/

	color: rgb(0, 0, 0);
	background-color: #9FD1FF;

	font-size: 1.5vw;

	display: flex;
}
.conversation img {
	width: 20vw;
	height: 20vh;
	/*width: fit-content;*/
	/*height: fit-content;*/
}
.conversation video {
	width: 20vw;
	height: 20vh;
}
.sent.messages {
	text-align: right;
	padding-right: 1vw;

	justify-content: right; /*x*/

	/*color: rgb(0, 0, 0);
	background-color: #9FD1FF;*/
}
.received.messages {
	text-align: left;
	padding-left: 1vw;

	justify-content: left; /*x*/
	justify-self: left;

	/*color: rgb(0, 0, 0);
	background-color: #9FD1FF;*/
}
.send_new_media {
	position: absolute;
	left: 30vw;
	top: 90vh;
	z-index: 6;
	width: 60vw;
	height: 10vh;

	display: flex;

	background-color: #ffa860;
}
.send_new_media div {
	background-color: rgb(255, 255, 255, 0);
}
.sending {
	position: absolute;
	left: 35vw;
	top: 45vh;
	z-index: 7;
	width: 50vw;
	height: 40vh;

	background-color: rgb(216, 124, 255);

	visibility: hidden;
}
.button.close_sending {
	position: absolute;
	left: -1vw;
	top: -2vh;
	z-index: 8;
	width: 5vw;
	height: 5vw;

	font-size: 3vw;

	background-color: rgb(255, 255, 255, 0);

	border: 0vw;

	display: flex;
	justify-content: center;
	align-items: center;

	transform-origin: 50% 50%;
	transform: rotate(45deg);
}
.sending input {
	position: relative;
	left: 0vw;
	top: 33vh;
	z-index: 8;
	width: 45vw;
}
.button.send {
	position: absolute;
	left: 45vw;
	top: 33vh;
	z-index: 8;
	width: 5vw;
	height: 10vh;
}
.upload {
	position: relative;
	top: 0vh;
	left: 0vw;
	z-index: 7;

	width: 5vw;
	height: 10vh;

	font-size: 1vw;

	word-break: break-all;

	background-color: rgb(255, 255, 255, 0);

	/*display: flex;*/
}/*
.upload input {
	height: 10vh;
	background-color: black;
}*/
.text.message {
	position: relative;
	top: 0vh;
	left: 0vw;
	z-index: 7;

	width: 30vw;
	height: 10vh;

	/*margin-top: 95vh;
	margin-left: 50vw;*/
	
	background-color: rgb(255, 255, 255);

	/*display: flex;*/
}
.button.message {
	position: absolute;
	left: 55vw;
	top: 0vh;
	z-index: 7;
	width: 5vw;
	height: 10vh;

	font-size: 2vw;

	/*margin-top: 95vh;
	margin-left: 90vw;*/

	/*background-color: rgb(150, 150, 150);*/
	/*background-color: rgb(255, 255, 255, 0);*/

	/*display: flex;*/
}
