.new_media_indicator { /*.previous_list div div*/
	grid-area: 1 / 6 / 3 / 7;

	text-indent: 0;

	transition: background-color 3s linear;
}

.text.search_conversation {
	grid-area: 1 / 9 / 3 / 11;
}
.text.key {
	grid-area: 1 / 11 / 3 / 12;
}
.button.key {
	grid-area: 1 / 12 / 3 / 13;
}

.conversation {
	overflow-y: visible;

	grid-area: 3 / 1 / 19 / 13;

	display: grid;
	grid-template-rows: repeat(auto-fill, 5vh);
	grid-template-columns: auto;

	text-align: center;

	/*object-fit: cover;*/
}
.received {
	float: left;

	justify-content: left; /* x */
	justify-self: left;
}
.sent {
	float: right;

	justify-content: right;
	justify-self: right;
}
.messages {
	min-width: 10vw;
	/*width: fit-content;*/
	min-height: 5vh;

	/*position: relative;*/
	/*height: fit-content;*/
	/*height: 20vh;*/

	/*margin-bottom: 1vh;*/
	/*margin-left: 24vw;*/
	/*margin-right: 5vw;*/

	/*text-align: right;*/
	/*padding-right: 1vw;*/

	color: rgb(255, 255, 255);
	background-color: #000000;
}
.conversation img {
	width: 20vw;
	height: 20vh;
	/*width: fit-content;*/
	/*height: fit-content;*/
}
.conversation video {
	width: 20vw;
	height: 20vh;
}
.sent.messages {
	text-align: right;
	/*padding-right: 1vw;*/
}
.received.messages {
	text-align: left;
	/*padding-left: 1vw;*/
}

@media only screen and (min-width: 400px) {
	.new_media_indicator { /*.previous_list div div*/
		text-indent: 0;
	}
	
	.text.search_conversation {
		grid-area: 1 / 9 / 3 / 11;
	}
	.text.key {
		grid-area: 1 / 11 / 3 / 12;
	}
	.button.key {
		grid-area: 1 / 12 / 3 / 13;
	}

	.conversation {
		grid-area: 3 / 1 / 19 / 13;
	}
}
