.content {
	z-index: 3;

	background-color: lightgreen;

	grid-area: 1 / 1 / 21 / 21;

	display: none;
	grid-template-rows: repeat(18, 5vh);
	grid-template-columns: repeat(18, 5vw);

	/*transition: visibility 5s ease-out;*/
	/*transition-property: visibility;
	transition-duration: 5s;
	transition-timing-function: linear;*/
}

@media only screen and (min-width: 400px) { /* 1152 px = 12 inch */
	.content {
		grid-area: 1 / 3 / 21 / 21;
	}
}
