#text_add_member {
	position: absolute;
	top: 0vh;
	left: 60vw;
	z-index: 8;

	width: 5vw;
	height: 10vh;

	/*border: 0.5vw solid rgb(0, 0, 0);*/
}
#button_add_member {
	position: absolute;
	top: 0vh;
	left: 65vw;
	z-index: 8;

	width: 5vw;
	height: 10vh;
}
