#text_add_member {
	position: absolute;
	top: 0vh;
	left: 70vw;
	z-index: 6;

	width: 10vw;
	height: 10vh;

	/*border: 0.5vw solid rgb(0, 0, 0);*/
}
#button_add_member {
	position: absolute;
	top: 0vh;
	left: 80vw;
	z-index: 6;

	width: 10vw;
	height: 10vh;
}
