#my_profile {
	display: grid;

	justify-content: center; /*x*/ /*text*/
	/*justify-items: center;*/

	/*align-content: center;*/
	align-items: center; /*y*/ /*text*/
}
#profile_picture {
	position: absolute;
	left: 0vw;
	top: 0vh;
	width: 30vh;
	height: 30vh;

	border-radius: 50vw;

	display: grid;
}
#file_pp {
	position: absolute;
	left: 0vw;
	top: 30vh;
	width: 15vw;
	height: 10vh;
}
#button_pp {
	position: absolute;
	left: 15vw;
	top: 30vh;
	width: 15vw;
	height: 10vh;
}
.updates {
	position: relative;
	left: 30vw;
	top: 0;
	width: 20vw;
	height: 30vh;
	
	display: grid;
	grid-row: auto auto;
	grid-template-rows: auto auto;
	margin: 1vw;

	background-color: rgb(255, 60, 60);
}
