* {
	margin: 0;
	padding: 0;

	overflow: hidden;

	color: black;
	/*font-family: 'Courier New', Courier, monospace;*/
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 2vw;
	font-weight: 200;

	/*display: flex;*/
}/*
body {
	background-image: linear-gradient(to bottom,rgb(40, 90, 50),rgb(200, 200, 35));
	background-color: rgb(25, 25, 25);
	background-size: 100vw 100vh;
	overflow: hidden;

	margin: 0;
	padding: 0;

	display: grid;
}*/
#container {
	position: relative;
	left: 0;
	top: 0;
	z-index: 2;
	width: 100vw;
	height: 100vh;

	/*display: flex;*/
}
.button {
	box-shadow: 0px 0px 40px rgba(255, 255, 255, 0);
	/*background-color: #9FD1FF;*/

	/*background-image: linear-gradient(red, green, blue);*/

	border: 0.2vw solid black;

	/*transition-delay: 0s;
	transition-duration: 1s;
	transition-property: background-color;
	transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);*/

	/*animation: example 5s linear infinite;*/
}
input {
	border: 0.2vw solid black;
}
/*@keyframes example {
	0% {
		background-color: red;
	}
	50% {
		background-color: aqua;
	}
	100% {
		background-color: yellow;
	}
}*/
.ba { /*button_animations*/
	position: absolute;
	left: 0vw;
	top: 95vh;
	z-index: 5.5;
	width: 0vw;
	height: 10vh;

	transition-duration: 0.2s;
	transition-property: width;
	/*transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);*/
}
#ba1 {
	background-color: #FF8B8B;
	transition-delay: 0s;
}
#ba2 {
	background-color: #F5FFA2;
	transition-delay: 0.2s;
}
#ba3 {
	background-color: #AAFFA2;
	transition-delay: 0.4s;
}
#ba4 {
	background-color: #9FD1FF;
	transition-delay: 0.6s;
}
#ba5 {
	background-color: #FFAEF7;
	transition-delay: 0.8s;
}
#menu_bar {
	position: absolute;
	top: 0vh;
	left: 0vw;
	z-index: 3;
	width: 10vw;
	height: 100vh;

	/*margin: 0;

	padding: 1vw;

	display: flex;
	flex-direction: column;*/

	background-color: #FFAEF7;
	/*background-image: url(../media/images/skins/watermelon/menu_bar.jpg);
	background-size: contain;
	background-repeat: repeat-y;*/
}
#menu_bar div {
	display: flex;
	flex-direction: row;

	/*position: relative;
	left: 1vw;
	top: 1vh;*/
	z-index: 5;

	width: 10vw;
	height: 5vh;

	/*margin: 1vh;
	margin-left: 1vw;
	margin-top: 1vw;

	padding: 1vw;
	padding-left: 1vw;
	padding-top: 1vw;*/

	font-size: 2vw;
	/*color: rgb(0, 0, 0);*/
	text-align: center;

	/*border-top: 1px solid rgba(0, 0, 0, 0.4);
	border-left: 1px solid rgba(0, 0, 0, 0.4);

	background-color: blue;
	background-color: rgb(0, 0, 0, 0);*/
}/*
.menu_bar button:hover {
	box-shadow: 0px 0px 40px rgba(0, 0, 0, 1);
}*/
#button_theme {
	position: absolute;
	left: 0vw;
	top: 95vh;
	z-index: 6;
	width: 10vw;
	height: 10vh;

	font-size: large;

	/*background-color: rgb(255, 255, 255, 0);*/
}
#content {
	position: absolute;
	left: 10vw;
	top: 0vh;
	z-index: 5;
	width: 90vw;
	height: 100vh;
}/*
button {
	position: relative;
	width: 10vw;
	height: fit-content;

	background-color: rgb(0, 0, 0, 0);
}
#side_bar {
	position: absolute;
	top: 6vh;
	left: 10vw;
	z-index: 2;

	width: 30vw;
	height: 94vh;

	background-color: rgb(255, 254, 170);

	font-size: 2vw;
}*/
