.shape {
	position: absolute;
	left: 20vw;
	top: 0vh;
	z-index: -1;
	width: 100vh;
	height: 100vh;
	/* transition: all 2s; */
	/* border-radius: 1000vw; */
	animation: hypnosis 10s linear 0s infinite alternate;
	background-color: rgb(54, 255, 221);
}
@keyframes hypnosis {
	0% {
		clip-path: circle(300px);
		transform: rotate(0deg);
		filter: hue-rotate(-720deg);
		/* border-radius: 1vw; */
	}
	50% {
		clip-path: polygon(0% 0%, 100% 50%, 0% 100%, 0% 0%);
		filter: hue-rotate(0deg);
		/* border-radius: 20vw; */
	}
	100% {
		transform: rotate(360deg);
		filter: hue-rotate(720deg);
		/* border-radius: 500vw; */
	}
}
.blur {
	/* background-color: rgba(255, 255, 255, 0.4); */
	background-color: rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(20px);
}
