.container.auth {
	grid-template-rows: 75px auto;
	background-color: #ADEFD1FF;
	background-color: rgb(165, 165, 165);
	background-image: linear-gradient(to right bottom, rgb(255, 255, 255), black);
	color: #00203FFF;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	overflow-y: visible;
	display: block;
}
.background-design {
}
.app-title {
	/* z-index: 2; */
	/* grid-area: 1 / 1 / 2 / 3; */
	/* animation: sliding-info 1s cubic-bezier(0.23, 1, 0.320, 1) 0s; */
	font-size: 40px;
}
.holder {
	grid-area: 2 / 1 / 3 / 2;
	display: grid;
	grid-auto-rows: max-content;
	grid-auto-columns: max-content;
	overflow-y: auto;
	padding: 10px;
	background-color: blue;
}
.card, .form-name, input, button {
	/* font-size: 20px; */
}
.card {
	grid-area: 1 / 1 / 2 / 2;
	height: max-content;
	min-height: max-content;
	/* z-index: 2; */
	box-shadow: 10px 10px 0px 9px black;
	overflow-y: visible;
	/* background-color: aqua; */
}
.sign_up.card {
	grid-template-columns: 1fr 1fr;
}
.form-name {
	background-color: rgb(192, 192, 192);
}
@keyframes sliding-info {
	0% {
		left: -50vw;
	}
	100% {
		left: 0vw;
	}
}
.validation {
	font-size: 18px;
	font-family: monospace;
}
.auth .button {
	/* font-size: 20px; */
	/* background-position: 40% 50%; */
}
.button.signup {
	background-image: url("../../media/images/design/person_add.png");
}
.button.login {
	background-image: url("../../media/images/icons/login.png");
}
.link {
	border: 0;
	background-color: unset;
}
