.container.auth {
	padding-bottom: 20px;
	grid-template-rows: 80px auto;
	row-gap: 10px;
	overflow-y: visible;
	/* background-color: #ADEFD1FF; */
	background-color: rgb(165, 165, 165);
	background-image: linear-gradient(to right bottom, rgb(255, 255, 255), black);
	color: #00203FFF;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	backdrop-filter: blur(20px);
}
.background-design {
}
.app-title {
	z-index: 2;
	grid-area: 1 / 1 / 2 / 3;
	animation: sliding-info 1s cubic-bezier(0.23, 1, 0.320, 1) 0s;
	font-size: 40px;
}
.holder {
	overflow-y: auto;
}
.card, .form-name, input, button {
	font-size: 20px;
}
.card {
	z-index: 2;
	background-color: rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(20px);
	box-shadow: 10px 10px 0px 9px black;
}
.form-name {
	background-color: rgb(192, 192, 192);
}
.link {
	border: 0;
	background-color: unset;
}
@keyframes sliding-info {
	0% {
		left: -50vw;
	}
	100% {
		left: 0vw;
	}
}
label {
	margin: 0;
}
.auth input {
	width: 480px;
	height: 30px;
	text-indent: 10px;
}
button {
	background-color: rgb(180, 180, 180);
}
.validation {
	font-size: 18px;
}
