<div class="bg-eb padding row-gap col-gap bar explore">
	<img class="border image profile" src='<%= src %>' width="400px" height="400px" />
	<input class='file' type='file' name="file_pp">
	<div class="flex col-gap update_controls">
		<input class='flex border button square edit' type='button' value="edit" />
		<input class='flex border button square submit' type='button' onclick="account.update_user_info()" />
		<div class='flex border button square cancel' onclick='account.handle_click_cancel()'>cancel</div>
	</div>

	<label for="user_name">user name</label>
	<input class='border text' type='text' name="user_name" value="<%= user_name %>" readonly />
	<label for="first_name">first name</label>
	<input class='border text' type='text' name="first_name" readonly />
	<label for="last_name">last name</label>
	<input class='border text' type='text' name="last_name" readonly />
	<input class='border text' type='text' name="e_mail" readonly />
	<input class='border text' type='text' name="mobile" readonly />
	<input class='border text' type="password" name="pass_word" readonly />
</div>
<div class='bg-cb bar conversation'>
</div>
