<!-- <div class='flex hidden blur item content channels'> -->
	<div class="flex flex-dir-col bar explore">
		<%- include ('../partials/search_elements', {names: 'channels'}) %>
		<div class="hidden border-top list search">
			<div class="hidden section">
				<div class="flex center banner">exact match in your channels</div>
				<div class="list"></div>
			</div>
			<div class="hidden section">
				<div class="flex center banner">match in your channels</div>
				<div class="list"></div>
			</div>
			<div class="hidden section">
				<div class="flex center banner">exact match in join channels</div>
				<div class="list"></div>
			</div>
			<div class="hidden section">
				<div class="flex center banner">match in join channels</div>
				<div class="list"></div>
			</div>
			<div class="hidden section">
				<div class="border-b flex center banner">create a new channel</div>
				<div class="border-b padding flex flex-dir-col row-gap col-gap">
					<label>channel name :</label>
					<input class="border flex-grow-2 text create_conv_name" type="text" placeholder="type channel name here" readonly />
					<label>channel title :</label>
					<input class="border flex-grow-2 text create_title" type="text" placeholder="type channel title here" />
					<button class="flex border square bg-green button create" onclick="channels.handle_click_create()" data-tooltip="create">create</button>
				</div>
			</div>
		</div>
		<div class="list previous">
			<div class="hidden section">
				<div class="border-b flex center bg-founder">founder</div>
			</div>
			<div class="hidden section">
				<div class="border-b flex center bg-manager">manager</div>
			</div>
			<div class="hidden section">
				<div class="border-b flex center bg-regular">regular</div>
			</div>
		</div>
	</div>
	<div class='hidden grid bar conversation'>
		<div class='flex header'>
			<div class='padding flex center-y col-gap info' onclick='channels.handle_click_info()'>
				<img class="border square image icon icon-channels" src="" />
				<div>
					<div class="title"></div>
					<div class="conv_name"></div>
				</div>
			</div>
			<!-- <div class='button border square info' onclick='channels.handle_click_info()'>info</div> -->
		</div>

		<div class="border-t border-b list conv"></div>

		<%- include ('../partials/sender', {names: 'channels'}) %>
	</div>
	<div class="hidden border-l bar info">
		<div class="padding flex flex-dir-col row-gap">
			<div class="flex">
				<img class="border image icon icon-channels" src="" />
				<label class="hidden blur border-radius icon_upload" for="channel_icon_upload"></label>
				<input class="hidden file" id="channel_icon_upload" name="channel_icon_upload" type="file" onchange="channels.handle_change_icon()" />
			</div>
			<label for="channel_name">channel name :</label>
			<input class="blur border text conv_name" type="text" placeholder="type new channel name here" readonly />
			<label for="channel_title">channel title :</label>
			<input class="blur border text title" type="text" placeholder="type new channel title here" readonly />
			
			<div class="flex col-gap update_controls">
				<div class='blur flex border button square edit' onclick='channels.handle_click_edit()' data-tooltip="edit">edit</div>
				<div class='flex border button square bg-green submit' onclick='channels.handle_click_submit()' data-tooltip="submit">submit</div>
				<div class='blur flex border button square cancel' onclick='channels.handle_click_cancel()' data-tooltip="cancel">cancel</div>
			</div>
		</div>
		<div class="flex center border-t border-b banner">channel members</div>
		<div class='list member'>
			<div class="section"></div>
			<div class="section"></div>
			<div class="section"></div>
		</div>
		<div class="padding">
			<div class='button border square bg-red delete_exit_leave' onclick='channels.handle_click_leave()' data-tooltip="leave">leave</div>
		</div>
	</div>
<!-- </div> -->
