<div class="blur flex container dashboard"> <!-- //dashboard //content -->
	<div class="blur border-r padding flex flex-dir-col row-gap bar menu">
		<!-- all of this can be div tags instead of input button or button -->
		<!--<button onclick='load_home()' value='home'>-->
		<!--<input type="button" onclick='load_frequent()' value='frequent'>-->

		<div class='button square border' onclick='calls.handle_click_menu()' data-tooltip="calls"> calls </div>
		<div class='button square border' onclick='chats.handle_click_menu()' data-tooltip="chats"> chats </div>
		<div class='button square border' onclick='groups.handle_click_menu()' data-tooltip="groups"> groups </div>
		<div class='button square border' onclick='channels.handle_click_menu()' data-tooltip="channels"> channels </div>
		<div class='button square border' onclick='account.handle_click_menu()' data-tooltip="account"> account </div>
		<!-- <div class='button square border' onclick='theme.change()' data-tooltip="theme"> theme </div> -->
	</div>
	<div class="bar list content">
		<div class="flex hidden blur item content calls"></div>
		<div class="flex hidden blur item content chats"></div>
		<div class="flex hidden blur item content groups"></div>
		<div class="flex hidden blur item content channels"></div>
		<div class="flex hidden blur item content account"></div>
	</div>
	<div class="shape"></div>
</div>
