<div class="grid center-x padding row-gap border card" id="log_in">
	<div class="grid center form-name">log in</div>
	
	<label for="LIUN">user name :</label>
	<input class="border text" id="LIUN" type="text" oninput="handle_change_LIUN()">
  <div class="border padding validation liun">
		<div class="bg-red">username must be filled</div>
		<div class="bg-red">username must be less than 21 characters</div>
		<div class="bg-red">username must be registered</div>
	</div>

  <label for="LIPW">pass word :</label>
	<input class="border text" id="LIPW" type="text" oninput="handle_change_LIPW()">
	<div class="border padding validation lipw">
		<div>password must be filled</div>
		<div>password must be correct</div>
	</div>
	<button class="grid center border" id="buttonLogIn" type="button" onclick="handle_click_log_in()">log in</button>
	<button class="grid center link" type="button" onclick="handle_click_link_sign_up()"> sign up >>>>> </button>
</div>
