<div class="grid border padding col-gap card" id="signUp">
	<div class="grid row-gap padding">
		<div class="grid center form-name">sign up</div>
		
		<label for="user_name">user name :</label>
		<input type="text" class="border text" id="SUUN" name="user_name" onkeyup="handle_change_SUUN()" />
		<label for="pass_word">pass word :</label>
		<input type="text" class="border text" id="SUPW" name="pass_word" onchange="handle_change_SUPW()" />
		<label for="first_name">first name :</label>
		<input type="text" class="border text" id="first_name" name="first_name" onchange="handleChangeSUFN()">
		<label for="last_name">last name :</label>
		<input type="text" class="border text" id="last_name" name="last_name" onchange="handleChangeSULN()">

		<button class="grid center border" id="buttonSignUp" onclick="handleClickSignUp()">sign up</button>
		<button class="grid center link" onclick="handleClickLinkLogIn()"> log in >>>>> </button>
	</div>
	<div class="grid row-gap padding">
		<div class="border padding validation suun">
			<div class="bg-red">username must be filled</div>
			<div class="bg-red">username must be less than 21 characters</div>
			<div class="bg-red">username must be available</div>
		</div>
		<div class="border padding validation supw">
			<div>password must be more than 6 characters</div>
			<div>password must be less than 21 characters</div>
			<div>password must contain at least 1 number</div>
			<div>password must contain at least 1 alphabet</div>
			<div>password must contain at least 1 special character</div>
		</div>
		<div class="border padding validation sufn">
		</div>
		<div class="border padding validation suln">
		</div>
	</div>
</div>
