.current_header .button.call.audio {
	grid-area: 1 / 7 / 3 / 8;
}
.current_header .button.call.video {
	grid-area: 1 / 8 / 3 / 9;
}

.text.key {
	grid-area: 1 / 11 / 3 / 12;
}
.button.key {
	grid-area: 1 / 12 / 3 / 13;

	text-indent: 0;
}

.send_new_media {
	z-index: 9;

	grid-area: 19 / 1 / 21 / 21;

	display: none;
	grid-template-rows: 10vh;
	grid-template-columns: repeat(auto, 5vw);
}
.text.message {
	grid-area: 1 / 9 / 3 / 12;
}
.button.message {
	grid-area: 1 / 12 / 3 / 13;
}

.sending {
	background-color: crimson;
	z-index: 7;

	display: none;
}

.button.close_sending {
	position: absolute;
	left: -1vw;
	top: -2vh;
	z-index: 8;
	width: 5vw;
	height: 5vw;

	font-size: 3vw;

	background-color: rgb(255, 255, 255, 0);

	border: 0vw;

	display: flex;
	justify-content: center;
	align-items: center;

	transform-origin: 50% 50%;
	transform: rotate(45deg);
}
.sending input {
	position: relative;
	left: 0vw;
	top: 33vh;
	z-index: 8;
	width: 45vw;
}
.button.send {
	position: absolute;
	left: 45vw;
	top: 33vh;
	z-index: 8;
	width: 5vw;
	height: 10vh;

	background-size: contain;
	background-repeat: no-repeat;
	background-image: url('../../media/images/design/send.png');
}
.upload {
	position: relative;
	top: 0vh;
	left: 0vw;
	z-index: 7;

	width: 5vw;
	height: 10vh;

	font-size: 1vw;

	word-break: break-all;

	background-color: rgb(255, 255, 255, 0);

	/*display: flex;*/
}/*
.upload input {
	height: 10vh;
	background-color: black;
}*/

@media only screen and (min-width: 400px) {
	.text.key {
		grid-area: 1 / 11 / 3 / 12;
	}
	.button.key {
		grid-area: 1 / 12 / 3 / 13;
	}

	.send_new_media {
		z-index: 10;

		grid-area: 19 / 9 / 21 / 21;

		display: none;
		grid-template-rows: 10vh;
		grid-template-columns: repeat(12, 5vw);
	}
	.text.message {
		grid-area: 1 / 6 / 3 / 12;
	}
	.button.message {
		grid-area: 1 / 12 / 3 / 13;
	}
}