.new_media_indicator { /*.previous_list div div*/
	grid-area: 1 / 6 / 3 / 7;
	text-indent: 0;
	transition: background-color 3s linear;
	color: rgb(110, 0, 0);
}
.text.search_conversation {
	grid-area: 1 / 9 / 3 / 11;
}
.conv {
	overflow-y: visible;

	grid-area: 3 / 1 / 19 / 13;
	display: none;
	/*grid-template-rows: repeat(auto-fill, 5vh);*/
	grid-template-columns: auto;
	/*grid-auto-flow: row;*/
	grid-auto-rows: 10vh;

	row-gap: 10vh;
	text-align: center;
	/*object-fit: cover;*/
}
.conv div {
	position: relative;
	/*margin-bottom: 5vh;*/
}
.conv div div {
	position: relative;
	width: inherit;
	height: 5vh;
}
.received {
	left: 0;
	/*float: left;*/

	justify-content: left; /* x */
	justify-self: left;
}
.sent {
	left: auto;
	right: 0;
	/*float: right;*/

	justify-content: right;
	justify-self: right;
}
.messages {
	min-width: 10vw;
	max-width: 40vw;
	width: fit-content;
	min-height: 10vh;
	height: fit-content;

	/*position: relative;*/
	/*height: fit-content;*/
	/*height: 20vh;*/

	/*margin-bottom: 1vh;*/
	/*margin-left: 24vw;*/
	/*margin-right: 5vw;*/

	/*text-align: right;*/
	/*padding-right: 1vw;*/
}
.conv .images,.conv .videos {
	width: 20vw;
	height: 20vh;
}
.sent.messages {
	text-align: right;
	/*padding-right: 1vw;*/

	color: rgb(255, 255, 255);
	background-color: #000000;
}
.received.messages {
	text-align: left;
	/*padding-left: 1vw;*/

	color: rgb(0, 0, 0);
	background-color: #ffffff;
}

@media only screen and (min-width: 400px) {
	.new_media_indicator { /*.previous_list div div*/
		text-indent: 0;
	}
	.text.search_conversation {
		grid-area: 1 / 9 / 3 / 11;
	}
	.conv {
		grid-area: 3 / 1 / 19 / 13;
	}
}
