.wrapper {
	height: 70px;
	display: flex;
	padding: 5px;
	column-gap: 5px;
}
.current_header {
	/*grid-area: 1 / 1 / 2 / 2;*/
	display: grid;
	grid-template-rows: 1fr;   /* 1fr 20fr 1fr */
	grid-template-columns: 8fr repeat(5, 1fr);
	padding: 5px;
	column-gap: 5px;
}
.current_header .details {
	/*grid-area: 1 / 1 / 3 / 7;*/
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 70px auto;
	padding: 5px;
	column-gap: 5px;
	/*text-indent: 10vw;
	text-align: left;*/
	position: relative;
	top: 0;
	left: 0;
	height: 100%;
}
.current_header .details .images {
	/*grid-area: 1 / 1 / 3 / 12;*/
}
.current_header .details :nth-child(2) {
	/*grid-area: 1 / 13 / 3 / 41;*/
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.text.search_conversation {
	/*grid-area: 1 / 9 / 3 / 11;*/
}
.conv {
	overflow-y: visible;

	grid-area: 2 / 1 / 3 / 2;
	display: none;
	/*grid-template-rows: repeat(auto-fill, 5vh);*/
	/*grid-template-rows: repeat(auto-fill, 70px);*/
	/*grid-template-columns: auto;*/
	/*grid-auto-flow: row;*/
	/*grid-auto-rows: 100px;*/

	position: relative;

	padding: 10px;
}
.conv div {
	position: relative;
	margin-bottom: 10px;
	display: grid;
	/*grid-template-rows: 10px auto;*/
}
.sender_specifier {
	position: relative;
	width: 100%;
	height: 30px;
}

@media only screen and (max-width: 400px) {
	.text.search_conversation {
		grid-area: 1 / 9 / 3 / 11;
	}
	.conv {
		grid-area: 3 / 1 / 19 / 13;
	}
}
