.content {
	z-index: 3;

	grid-area: 1 / 2 / 2 / 3;
	display: none;
	grid-template-rows: auto;
	grid-template-columns: 1fr 2fr;
}
.bg-eb {
	background-color: var(--bg-eb);
}
.bar.explore {   /* list, explore, discover */
	grid-area: 1 / 1 / 2 / 2;
	display: grid;
	/*grid-auto-rows: 70px auto;*/
	grid-template-rows: 70px auto;
	/*grid-template-rows: 1fr 9fr;*/
	grid-template-columns: 1fr 4fr 1fr;
	row-gap: 5px;
	column-gap: 5px;
}
.button.back {
	margin-left: 5px;
	margin-top: 5px;

	/*grid-area: 1 / 1 / 2 / 2;*/
	background-image: url('../../media/images/design/back_arrow.png');
}
.text.search {
	margin-top: 5px;
	/*grid-area: 1 / 2 / 2 / 3;*/
}
.button.search {
	margin-right: 5px;
	margin-top: 5px;

	/*grid-area: 1 / 3 / 2 / 4;*/
	background-image: url('../../media/images/design/search.png');
}
.banner {
	display: flex;
	justify-content: center;
	align-items: center;
	color: rgb(126, 126, 126);
}
.list.search, .list.previous {
	grid-area: 2 / 1 / 3 / 4;
	display: grid;
	/*grid-template-rows: repeat(auto-fill, 70px);*/
	grid-auto-rows: 70px; /* use this and not above */
	grid-template-columns: auto;

	overflow-y: visible;
}
.list.search {
	z-index: 7;
	display: none;
	background-color: gray;
	/*transition: display 2s linear;*/
}
.list.previous {
	z-index: 6;
}
.prev::selection {
	background-color: red;
}
.prev {
	display: grid;
	/*grid-template-rows: 1fr 18fr 1fr;*/
	grid-template-rows: 1fr;
	/*grid-template-columns: 1fr 5fr 1fr 20fr 1fr 5fr 1fr;*/
	grid-template-columns: 5fr 20fr 5fr;
	padding: 5px;
	column-gap: 10px;

	/*text-align: left;
	text-indent: 0vw;
	text-overflow: ellipsis;*/

	/*display: flex;
	align-items: center;
	justify-content: center;*/
}
div.prev:hover, div.prev :hover {
	background-color: var(--item-hover-bg);
}/*
.prev .images {
	grid-area: 2 / 2 / 3 / 3;
}*/

.bar.conversation, .bar.conversation div {   /* className = bg-cb */
	background-color: var(--bg-cb);
}
.bar.conversation {
	grid-area: 1 / 2 / 2 / 3;
	display: grid;
	/*grid-template-rows: 70px auto 70px;*/
	grid-auto-rows: 70px auto 70px;
	grid-template-columns: 1fr;
}

.images img {
	width: 100%;
	height: 100%;
	/*
	contain: ;
	content: ;
	*/
}

@media only screen and (max-width: 400px) { /* 1152 px = 12 inch */
	.content {
		grid-area: 1 / 1 / 2 / 2;
	}
	.bar.explore {
		grid-area: 1 / 1 / 2 / 2;
	}
	.list.search,.list.previous {
		grid-area: 3 / 1 / 21 / 7;
	}
	.bar.conversation {
		grid-area: 1 / 2 / 2 / 3;
		display: grid;
	}
}
