.content {
	z-index: 3;

	grid-area: 1 / 1 / 21 / 21;

	display: none;
	grid-template-rows: repeat(20, 5vh);
	grid-template-columns: repeat(18, 5vw);

	/*transition: visibility 5s ease-out;*/
	/*transition-property: visibility;
	transition-duration: 5s;
	transition-timing-function: linear;*/
}
.images img {
	width: 100%;
	height: 100%;
	/*
	contain: ;
	content: ;
	*/
}
.bar.list {
	grid-area: 1 / 1 / 21 / 21;

	display: grid;
	grid-template-rows: repeat(20, 5vh);
	grid-template-columns: repeat(6, 1fr);
}
.button.back {
	grid-area: 1 / 1 / 3 / 2;
}
.text.search {
	grid-area: 1 / 2 / 3 / 6;
}
.button.search {
	grid-area: 1 / 6 / 3 / 7;

	background-image: url('../../media/images/design/search.png');
	background-size: contain;
	background-clip: content-box;
	background-repeat: no-repeat;
}

.list.search,.list.previous {
	grid-area: 3 / 1 / 19 / 7;

	grid-template-rows: repeat(auto-fill, 10vh);
	grid-template-columns: auto;

	overflow-y: visible;
}
.list.search {
	z-index: 7;
	display: none;

	background-color: gray;
	/*transition: display 2s linear;*/
}
.list.previous {
	z-index: 6;
	display: grid;
}

.prev {
	height: 10vh;

	display: grid;
	grid-template-rows: 5vh 5vh;
	grid-template-columns: repeat(6, 1fr);

	text-align: left;
	text-indent: 0vw;
	text-overflow: ellipsis;

	/*display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
	justify-items: center;*/
}

.prev .images {
	grid-area: 1 / 1 / 3 / 3;
}
.list.previous .prev:hover {
	background-color: rgb(187, 187, 187);
}
.prev span {
	grid-area: 1 / 3 / 3 / 6;
}

.bar.conversation {
	grid-area: 1 / 1 / 21 / 21;

	display: none;
	grid-template-rows: repeat(20, 5vh);
	grid-template-columns: repeat(12, 1fr);
}
.current_header {
	grid-area: 1 / 1 / 3 / 13;

	display: grid;
	grid-template-rows: repeat(2, 5vh);
	grid-template-columns: repeat(12, 1fr);
}
.current_header .details {
	grid-area: 1 / 1 / 3 / 5;

	display: grid;
	grid-template-rows: repeat(2, 1fr);
	grid-template-columns: repeat(6, 1fr);
	/*text-indent: 10vw;
	text-align: left;*/
}
.current_header .details .images {
	grid-area: 1 / 1 / 3 / 4;
}
.current_header .details span {
	grid-area: 1 / 4 / 3 / 7;
}

@media only screen and (min-width: 400px) { /* 1152 px = 12 inch */
	.content {
		grid-area: 1 / 3 / 21 / 21;
	}
	.bar.list {
		grid-area: 1 / 1 / 21 / 7;
	}
	.list.search,.list.previous {
		grid-area: 3 / 1 / 21 / 7;
	}
	.bar.conversation {
		grid-area: 1 / 7 / 21 / 19;
		display: grid;
	}
}
